#fab-findLocationButton {
  background-color: #fff;
  color: var(--color-grey-dark);
  position: absolute;
  top: -76px;
  right: var(--spacing-md);
}

#fab-findLocationButton.active,
#fab-findLocationButton:active {
  color: var(--color-primary-main);
}
