:root {
  --color-primary-light: #7eb0ff;
  --color-primary-main: #4181ec;
  --color-primary-dark: #0055b9;

  --color-secondary-light: #ff8276;
  --color-secondary-main: #db504a;
  --color-secondary-dark: #a31922;

  --color-tertiary-light: #ffeb7a;
  --color-tertiary-main: #ffc857;
  --color-tertiary-dark: #c89825;

  --color-grey-dark: #757575;
  --color-grey-light: #dadce0;

  --shadows-button-default: 0 0 3px rgba(0, 0, 0, 0.4);
  --shadows-button-focus: 0px 0px 3px 2px var(--color-tertiary-main);

  --spacing-unit: 8px;
  --spacing-xxs: calc(0.5 * var(--spacing-unit));
  --spacing-xs: calc(1 * var(--spacing-unit));
  --spacing-sm: calc(1.5 * var(--spacing-unit));
  --spacing-md: calc(2 * var(--spacing-unit));
  --spacing-lg: calc(3 * var(--spacing-unit));
  --spacing-xl: calc(4 * var(--spacing-unit));
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
