#map-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* fixed + 100% height fills up the space between the top and bottom navigation.
      With 100vh it extends over the bottom navigation */
  height: 100%;
}

#map {
  height: 100%;
}

#fab-findLocationButton {
  background-color: #fff;
  color: var(--color-grey-dark);
  position: absolute;
  top: -76px;
  right: var(--spacing-md);
}

#fab-findLocationButton:active {
  color: var(--color-primary-main);
}
